/* style.css*/

/* Fonts and Colors*/
body{
	background: slategrey;
	color: lightgrey;
	font-size:  14px;
    font-family: 'Open Sans', sans-serif;
}
h1{
	color:  whitesmoke;
	font-weight:  lighter;
	font-size: 36px;
}
h2{
	color: lightgrey;
	font-weight: lighter;
	font-size: 24px;
}
a{
	color: lightgrey;
}
a:hover{
	text-decoration: none;
	color: white;
}

/* Custom Design */
#banner{
	text-align: center;
	background-image: url("images/pexels-adrien-olichon-2931251.jpg");
	background-size: cover;
	margin: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 100px rgb(35, 44, 53);

    padding: 150px;
	color: white;
	text-shadow: 1px 1px 5px black;
}
#banner h1 {
	color: white;
	font-size: 52px;
}
#banner p {
	color: white;
	opacity: 0.8;
	font-size: 21px;
	font-weight: lighter;
}

#footer{
	padding: 20px;
	background: rgb(50, 50, 50);
	color: lightgrey;
}

.card{
	padding: 50px;
	font-weight: lighter;
}

